.vscode
__pycache__
jobs.csv
resume.pdf
resume2.pdf
test.py
test.ipynb
venv
matched_jobs.json
resume_data.json
test_resume.py
resume3.pdf
resume.pdf
resume2.pdf
resume4.pdf
test_chatapi.py
serviceAccountCreds.json
.env
logs
firebase-credentials.json
test_gemini.ipynb